{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>FUploader</title>
</head>
<body> 
    <header>
        <div class="author">
            Create by Pavel Grebenshikov
        </div>
        <div class="wp-block">
            <div class="wps-block">
                <div class="wpc-block">
                    <a href="{% url 'home' %}">
                        <div class="bubble">
                            FUploader
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}

    <!-- main content -->

    {% endblock content %}

    {% block js %}

    <!-- js scripts -->

    {% endblock js %}
</body>
</html>